<footer class="rounded-lg drop-shadow-lg m-4 bg-[#F2F2F2] dark:bg-gray-800 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-lg font-semibold sm:text-center text-secondary dark:text-gray-400">
      © 2024 <a href="#" class="hover:underline dark:text-secondary-light">Alex Cabral</a>.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-lg font-medium text-primary-text dark:text-gray-300 sm:mt-0">
      <li>
        <a href="#about-me" class="hover:underline me-4 md:me-6 dark:hover:text-secondary-light">About Me</a>
      </li>
      <li>
        <a href="#contact" class="hover:underline dark:hover:text-secondary-light">Contact</a>
      </li>
    </ul>
  </div>
</footer>
